* {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 10px;
    /* background-color: #ecf0f1; */
    padding: 1rem 2rem;
    margin: 2rem 0;
}

.wrapper h1 {
    text-align: center;
    margin: 1rem 0;
}
